[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
django = "==3.1.*"
django-phonenumber-field = "*"
django-extensions = "*"
django-stdimage = "*"
phonenumbers = "*"
django-widget-tweaks = "*"
pillow = "*"
coverage = "*"

[requires]
python_version = "3.8"
