{% extends 'forms.html' %}

{% block title %}Login{% endblock %}

{% block header %}Sign in{% endblock %}
{% block headerText %}One account, unlimited auctions{% endblock %}

{% block formContent %}

    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username" placeholder="Username" required>
    </div>

    <br />
    <div class="form-group">
        <label for="password">Password:</label> 
        <input type="password" class="form-control" id="password" placeholder="Password" required>
    </div>

{% endblock %}

{% block submitBtnText %}Sign In{% endblock %}
{% block submitBtnSubtext %}
    By clicking Sign In, you agree to our 
    <br>Terms and have read and acknowledge our 
    <br>Privacy Statement.
{% endblock %}

{% block alternateInput %}
    <hr>
    <button type="button" class="btn btn-half btn-half-left btn-secondary">Forgot Password</button>
    <button type="button" class="btn btn-half btn-secondary">Sign-up</button>
{% endblock %}