{% extends 'navbar.html' %}

{% block title %}Explore Auctions{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'auctions/css/exploreStyle.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'auctions/css/style.css' %}"> -->

{% endblock %}

{% block body %}

<div class="container" style="margin-top:30px; margin-left: 10%; margin-right: 10%;">
    <div class="row">
        <div class="col-sm-4">
            <div class="auction-selection-heading">
                Select Auction to Display:
            </div>
            <br>
            {% for auction in user_auctions %}
                <button value="0" class="auction-listing" id="auction_heading_{{ auction.auction_id }}" onclick="handleAuctionClick('{{ auction.auction_id }}')">{{ auction.auction_id }}</button>
            {% endfor %}
        </div>
        <div class="col-sm-8">
            {% for auction in user_auctions %}
                <div class="explore-auction-container" id="auction_{{ auction.auction_id }}" style="display: none;">
                <div class="auction-heading">{{ auction.auction_id }}</div>
                {% for category in auction.categories.all %}
                    <div class="category-heading">{{ category.name }}</div>
                    <div class="cover-container">
                    {% for item in category.items_in_category.all %}
                        <a id="item{{ forloop.counter }}" href="{% url 'auctions:item' item.pk %}" class="cover-item bg-light border">

                            <script>
                                if('{{ item.whoWon }}' == '{{ request.user }}') {
                                    document.getElementById('item{{ forloop.counter }}').classList.add('border-success');
                                }
                                else if('{{ item.isSold }}' == 'True') {
                                    document.getElementById('item{{ forloop.counter }}').classList.add('border-danger');
                                }
                                else {
                                    document.getElementById('item{ forloop.counter }}').classList.add('border-warning');
                                }
                            </script>

                            <img class="fit-center rounded" src="{{ item.getPrimaryImage }}">
                            <h6>{{ item.name }}</h6>
                            <p>{{ item.current_price }}</p>
                        </a>
                        <h6>{{ item.name }}</h6>
                        <p>{{ item.current_price }}</p>
                    {% endfor %}
                    </div>
                {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>

  <script src="{% static 'auctions/js/explore.js' %}"></script> 










{% endblock %}