{% extends 'navbar.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'auctions/css/style.css' %}" media="screen">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock %}

{% block body %}
  {% load static %}
  {% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
    </div>
    {% endfor %}
  {% endif %}
  <div class="container" style="margin-top:30px">
    <div class="row">
      <div class="col-sm-4">
        <div class="profilePicture">
          <img id="primary_image" class="rounded" src="{{ primary_image.getImageThumbnail }}">
          {% for image in image_list %}
            <img id="{{ forloop.counter }}" class="rounded img-preview" src="{{ image.getImageThumbnail }}" 
                 onclick="document.getElementById('primary_image').src = '{{ image.getImageThumbnail }}'">
          {% endfor %}
        </div>
        <p>Carousel of other images of the item</p>
        <h3>Recent Bidders and prices</h3>
        {% if bid_list %}
          <ul>
            {% for bid in bid_list %}
              <li>${{ bid.price }} -- {{ bid.bidder.username }}</li>
            {% endfor %}
          </ul>
        {% else %}
          <p>This item has no bids</p>
        {% endif %}
        <hr class="d-sm-none">
      </div>
      <div class="col-sm-8">
        <h2>{{ item.name }}</h2>
        <h5 class="timeLeft">Time left: {{ item.getTimeDiff }}</h5>
        <p>{{ item.description }}</p>
        <br>
        {% if not item.sold %}
        <h2>Bid</h2>
        <form action="{% url 'auctions:item' item.id %}" method="POST">
          {% csrf_token %}
          <input type="submit" class="btn btn-lrg bg-success" name="bid" id="1" label="Bid ${{ item.current_price|add:'1' }}" value="{{ item.current_price|add:'1' }}">
          <input type="submit" class="btn btn-lrg bg-success" name="bid" id="5" value="{{ item.current_price|add:'5' }}">
          <input type="submit" class="btn btn-lrg bg-success" name="bid" id="10" value="{{ item.current_price|add:'10' }}">
        </form>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="container" style="padding-top: 50px;">
    <div class="row">
      <h4>Things you may also like</h4>
      <div class="row-fluid">
        <div class="col-lg-12 col-md-10 ">
          <div class="cover-container">
            <!-- START PANEL -->
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-197-61462CCC-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-197-61462CCC-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-197-61462CCC-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-197-61462CCC-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-197-61462CCC-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-197-61462CCC-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-197-61462CCC-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-197-61462CCC-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-197-61462CCC-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-197-61462CCC-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-197-61462CCC-uk.png')"></div>
            <div class="cover-item" style="background-image: url('https://d1nexqccu6ll7z.cloudfront.net/_images/s-14-197-61462CCC-uk.png')"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock%}
