{% extends 'navbar.html' %}

{% block title %}User Profile{% endblock%}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'auctions/css/style.css' %}" media="screen">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock%}

{% block body %}
  {% load static %}
  <div class="container" style="margin-top:30px">
    <div class="row">
      <div class="col-sm-4">
        <h2>{{ request.user.profile.name }}</h2>
        <h5>Photo of me:</h5>
        <div class="profilePicture">
          {% if }
          <!-- TODO: Change this so that it will display the default image if there is no uploaded image -->
          <!-- <img class="rounded" src="{% static 'auctions/images/profile/defaultProfilePicture.jpg' %}"> -->
          <img class="rounded" src="{{ request.user.profile.image.thumbnail.url }}">
        </div>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'auctions:editProfile' %}">Edit Profile</a>
          </li>
        </ul>
        <p>Some text about me</p>
        <h3>Recent Bids</h3>
        <p>These are some of your recent bids</p>
        <ul class="nav nav-pills flex-column">
          {% for bid in recentBidList %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'auctions:item' bid.item.item_id %}">{{ bid.item.name }} -- ${{ bid.price }} </a>
            </li>
          {% endfor %}
        </ul>
        <hr class="d-sm-none">
      </div>
      <div class="col-sm-8">
        <h2>Items Won</h2>
        <h5>This is how you pick these items up -- Green if you need to pick it up, white if you have picked it up</h5>
        <div class="row-fluid">
          <div class="col-lg-12 col-md-10 ">
            <div class="cover-container">
              <!-- START PANEL -->
              <a href="{% url 'auctions:item' 1 %}" class="cover-item bg-success"><img class="fit-center" src="{% static 'auctions/images/profile/defaultProfilePicture.jpg' %}"></a>
              <a href="{% url 'auctions:item' 1 %}" class="cover-item bg-success"><img class="fit-center" src="{% static 'auctions/images/profile/defaultProfilePicture.jpg' %}"></a>
              <a href="{% url 'auctions:item' 1 %}" class="cover-item"><img class="fit-center" src="{% static 'auctions/images/profile/defaultProfilePicture.jpg' %}"></a>
              <a href="{% url 'auctions:item' 1 %}" class="cover-item bg-success"><img class="fit-center" src="{% static 'auctions/images/profile/defaultProfilePicture.jpg' %}"></a>
              <a href="{% url 'auctions:item' 1 %}" class="cover-item"><img class="fit-center" src="{% static 'auctions/images/profile/defaultProfilePicture.jpg' %}"></a>
              <a href="{% url 'auctions:item' 1 %}" class="cover-item"><img class="fit-center" src="{% static 'auctions/images/profile/defaultProfilePicture.jpg' %}"></a>
              <a href="{% url 'auctions:item' 1 %}" class="cover-item"><img class="fit-center" src="{% static 'auctions/images/profile/defaultProfilePicture.jpg' %}"></a>
              <a href="{% url 'auctions:item' 1 %}" class="cover-item"><img class="fit-center" src="{% static 'auctions/images/profile/defaultProfilePicture.jpg' %}"></a>
              <a href="{% url 'auctions:item' 1 %}" class="cover-item"><img class="fit-center" src="{% static 'auctions/images/profile/defaultProfilePicture.jpg' %}"></a>
              <a href="{% url 'auctions:item' 1 %}" class="cover-item"><img class="fit-center" src="{% static 'auctions/images/profile/defaultProfilePicture.jpg' %}"></a>
              <a href="{% url 'auctions:item' 1 %}" class="cover-item"><img class="fit-center" src="{% static 'auctions/images/profile/defaultProfilePicture.jpg' %}"></a>
              <a href="{% url 'auctions:item' 1 %}" class="cover-item"><img class="fit-center" src="{% static 'auctions/images/profile/defaultProfilePicture.jpg' %}"></a>
              <a href="{% url 'auctions:item' 1 %}" class="cover-item"><img class="fit-center" src="{% static 'auctions/images/profile/defaultProfilePicture.jpg' %}"></a>
            </div>
          </div>
        </div>
        <br>
        <h2>Items open for Bidding</h2>
        <h5>The green backgrounds are ones you are currently winning</h5>
        <div class="row-fluid">
          <div class="col-lg-12 col-md-10 ">
          {% for auction in all_auctions_list %}
            <div class="cover-container">
            <p class="auction-heading">AUCTION {{ auction.auction_id }} ITEMS</p>
            {% for category in auction.categories.all %}
              <p class="category-heading">CATEGORY: {{ category.name }}</p>
              {% for item in category.items_in_category.all %}
                <a href="{% url 'auctions:item' item.item_id %}" class="cover-item bg-warning"><img class="fit-center" src="{% static 'auctions/images/profile/defaultProfilePicture.jpg' %}"></a>
              {% endfor %}
            {% endfor %}
            </div>
          {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

