.auction-selection-heading {
    text-align: left;
    font-size: 200%;
    color: black;
    margin-top: 25px;
    /* background-color: #f44336; */
}

.category-heading {
    float: right;
    text-align: center;
    font-size: 125%;
    color: white;
    background-color: #262262;
    padding: 10px;
    width: 90%;
    box-shadow: 0px 0px 10px #333333;
}

.auction-heading {
  background-color: #F15A29;
  color: white;
  font-size: 150%;
  text-align: left;
  padding: 15px;
  padding-left: 30px;
  box-shadow: 0px 0px 10px #333333;
}



 .auction-listing {
    background-color: #262262;
    color: white;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.2s;
    font-size: 125%;
    padding-left: 30px;
    margin-bottom: 10px;
  }


  /* .auction-listing:hover {
    background-color: #FF5555;
  } */
  

  /* .category-listing {
      background-color: red;
  } */

  .active-auction-listing {
      background-color: #8682B2;
  }

  .explore-auction-container {
      opacity: 0;
      height: 0;
      overflow: hidden;
      transition: opacity 0.2s ease-in;
  }
  .explore-auction-container-active {
    opacity: 1;
    height: auto;
    transition: opacity 0.2s ease-in;
    margin-top: 25px;
    margin-bottom: 50px;
    /* box-shadow: 0px 0px 5px #333333; */
  }

  .cover-container {
    width: 80%;
    margin-right: 0;
    margin-left: auto;
    box-shadow: 0px 0px 10px #333333;
    background-color: white;

  }