.auction-selection-heading {
    text-align: left;
    font-size: 200%;
    color: black;
    /* background-color: #f44336; */
}

.category-heading {
    text-align: left;
    font-size: 100%;
    color: white;
    background-color: blue;
    padding: 10px;
}

.auction-heading {
  background-color: red;
  color: white;
  font-size: 150%;
  text-align: center;
  padding: 10px;
}



 .auction-listing {
    background-color: #333333;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 70%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.2s;
  }


  .auction-listing:hover {
    background-color: #ccc;
  }
  

  /* .category-listing {
      background-color: red;
  } */

  .active-auction-listing {
      background-color: red;
  }

  .explore-auction-container {
      opacity: 0;
      height: 0;
      overflow: hidden;
      transition: opacity 0.2s ease-in;
  }
  .explore-auction-container-active {
    opacity: 1;
    height: auto;
    transition: opacity 0.2s ease-in;
  }