/* Screen alignment with sidebar */
.side-bar {
    max-width: 240px;
}

@media screen and (max-width: 576px) {
    .side-bar {
        max-width: 360px;
        display: inline-block;
    }

    .center-xs-wrapper {
        text-align: center;
    }
}
/* End screen alignment with sidebar */

/* Sideways scroll throughs */
.cover-container {
    height: 230px;
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.cover-item {
    position: relative;
    display: inline-block;
    margin: 8px 8px;
    padding: 13px;
    box-shadow: 2px 2px 4px #bbb;
    border-top-right-radius: 4px;
    width: 150px;
    height: 200px;
    vertical-align: bottom;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}

.fit-center {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.scroll-through-text-align {
    margin-left: 22px;
}
/* End sideways scroll throughs */

/* Colors */
.bg-primary {
    background-color: #262262 !important;
}

.bg-info {
    background-color: #F15A29 !important;
}

.bg-compliment {
    background-color: #567491 !important;
}

.active {
    background-color: #262262 !important;
    color: white !important;
}

.text-primary {
    color: #262262 !important;
}

.text-info {
    color: #F15A29 !important;
}

.text-compliment {
    color: #567491 !important;
}

a {
    color: #F15A29 !important;
}
/* End colors */

