
.side-bar {
    max-width: 240px;
}

@media screen and (max-width: 576px) {
    .side-bar {
        max-width: 360px;
        display: inline-block;
    }

    .center-xs-wrapper {
        text-align: center;
    }
}