* {
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
}

.btn-half {
    width: calc(50% - 4px);
    display: inline-block;
}

.btn-half-left {
    margin-right: 3px;
}

.container-forms {
    width: 476px;
}

.container-forms-bordered {
    background-color: #ffffff;
    border: 1px solid #c7c7c7;
}

@media screen and (max-width: 476px) {
    .container-forms {
        width: auto;
    }
}