{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}Forms Template{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'forms.css' %}">
{% endblock %}

{% block content %}
    <div class="container container-forms">
        <div class="m-4">
            <img src="{% static 'auctions/images/logo/logo-med.png' %}" class="mx-auto d-block img-fluid">
        </div>
        <div class="container-forms-bordered">
            <div class="m-4">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h3 class="text-center">{% block header %}Header{% endblock %}</h3>
                    <p class="text-center">{% block headerText %}{% endblock %}</p>

                    {% block errorMessage %}
                    {% if form.errors %}
                        <div class="alert alert-warning">
                            <strong>Error upon submission</strong><br> Please verify your entries
                        </div>
                    {% endif %}
                    {% endblock %}

                    {% block formContent %}

                        {% for hidden_field in form.hidden_fields %}
                            {{ hidden_field }}
                        {% endfor %}

                        {% for field in form.visible_fields %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                {% render_field field class="form-control" %}
                                {% if field.help_text %}
                                    <small class="form-text text-muted">{{ field.help_text }}</small>
                                {% endif %}
                            </div>
                        {% endfor %}

                    {% endblock %}

                    <div class="mt-5">
                        <button type="submit" class="btn btn-block btn-success">{% block submitBtnText %}Submit{% endblock %}</button>
                        <p class="text-center small">{% block submitBtnSubtext %}{% endblock %}</p>
                    </div>

                    {% block alternateInput %}
                    {% endblock %}
                </form>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $('.toast').toast('show');
        });
    </script>
{% endblock %}