
{% extends 'base.html' %}

{% block title %}Forms Template{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'forms.css' %}">
{% endblock %}

{% block content %}
    <div class="container container-forms">
        <div class="m-4">
            <img src="{% static 'auctions/images/logo/logo-med.png' %}" class="mx-auto d-block img-fluid">
        </div>
        <div class="container-forms-bordered">
            <div class="m-4">
                <form method="post">
                    {% csrf_token %}
                    <h3 class="text-center">{% block header %}Header{% endblock %}</h3>
                    <p class="text-center">{% block headerText %}{% endblock %}</p>

                    <div class="form-group">
                        {% block formContent %}
                        {% endblock %}
                    </div>

                    <div class="mt-5">
                        <button type="submit" class="btn btn-block btn-success">{% block onSuccess %}Submit{% endblock %}</button>
                    </div>

                    {% block alternateInput %}
                    {% endblock %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}